:root {
    /* Create variables to easily toggle light/dark mode */
    --dark: #292b35;
    --light: #e8e8e8;
}

body {
    line-height: 1.6;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    background-color: var(--light);
    color: var(--dark);
}

img {
    width: 100%;
}

h1 {
    font-size: 200%;
    font-weight: 900;
}

h2 {
    font-size: 175%;
    font-weight: 700;
}

h3 {
    font-size: 150%;
    font-weight: 500;
}

/* Remove any link styling */
a {
    color: var(--dark);
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    text-decoration: none;
    color: var(--dark);
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

/* Button styling */
button {
    background-color: var(--light);
    border: solid 2px var(--dark);
    border-radius: 2px;
    padding: 8px 10px;
}

/* Invert colors when button is hovered over or tabbed onto */
button:hover, button:focus {
    background-color: var(--dark);
}

button:hover a, button:focus a {
    color: var(--light);
}

/* Skip to Main Content Button */
button.skip-content {
    /* Hide button until tabbed onto */
    position: absolute;
    top: -100px;
}

button.skip-content:focus, button.skip-content a:focus {
    top: 10px;
    left: 10px;
}

/* Navigation Styling */

/* Introduction Styling */
.introduction {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 50px auto;
    max-width: 75%;
    row-gap: 25px;
}

.intro-photo img {
    /* Headshot cirlce */
    border-radius: 50%;
    width: 80%;
    /* Center img within div */
    display: block;
    margin: 0 auto;
}

.hometown, .school {
    /* Bring icons and text side-by-side */
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5px;
    /* Center icons and text */
    align-items: center;
    /* Separate two icons */
    margin-bottom: 10px;
}

.school {
    /* Separate school from "Learn More" button */
    margin-bottom: 25px;
}

/* Education Styling */
.education {
    grid-template-columns: 1fr;
    margin: 25px auto;
    row-gap: 25px;
}

#education h2 {
    margin-left: 50px;
}

.university, .languages, .courses {
    margin: 0 auto;
}

.graduation {
    gap: 5px;
    /* Align icon and grad year */
    align-items: center;
}

.languages-list {
    list-style: circle;
    padding-left: 25px;
}

/* Awards styling within education */
.awards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    /* Keeps two award cards centered */
    margin: 50px auto;
}

/* Each award on a colored 'card' */
.awards div {
    background-color: var(--dark);
    color: var(--light);
    border-radius: 20px;
}

.awards i {
    /* Increase size of icon */
    font-size: 500%;
    padding: 15px;
}

.award-one, .award-two {
    padding: 15px;
    /* Keep two cards same width */
    flex-grow: 1;
    max-width: 60%;
    margin: 0 auto;
}

/* Relevant Coursework */
.courses {
    padding: 0 50px;
}
.courses h3, .course-item {
    margin-bottom: 10px;
}

.course-item {
    padding-bottom: 5px;
    border-bottom: solid 1px var(--dark);
}

/* Projects Styling */
#projects {
    /* Inverted color scheme */
    background-color: var(--dark);
    padding: 50px 0;
}

#projects h2 {
    color: var(--light);
    padding-left: 50px;
}

.projects {
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 50px auto;
    max-width: 80%;
}

.proj-info {
    background: var(--light);
    flex-direction: row;
    /* Icon above text */
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.proj-icon i {
    font-size: 500%;
    padding: 50px 50px 25px 50px;
}

.proj-details {
    padding: 25px;
}

.proj-role {
    font-style: italic;
    border-bottom: solid 1px var(--dark);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.proj-skills {
    font-weight: 600;
    padding-top: 15px;
}

.skills-list {
    list-style: circle;
    padding-left: 25px;
}

/* Work Experience Styling */

/* Extracurriculars Styling */

/* Tablet View */
@media screen and (min-width: 640px) {
    /* Navigation Styling */

    /* Introduction Styling */

    /* Education Styling */

    /* Projects Styling */

    /* Work Experience Styling */

    /* Extracurriculars Styling */
} /* Tablet View >= 640px */

/* Desktop View */
@media screen and (min-width: 1024px) {
    /* Navigation Styling */

    /* Introduction Styling */

    /* Education Styling */

    /* Projects Styling */

    /* Work Experience Styling */

    /* Extracurriculars Styling */
} /* Desktop View >= 1024px */